@import 'globals.less';

@addon: 'volto-addons';
@addontype: 'imagecard';
@addonelement: 'cards';

.loadAddonVariables();

.image-cards-wrapper > .ui.cards {
  .card.primary {
    background-color: @primaryColor;
    .extra a:not(.ui) {
      color: white;
    }
  }
  .card.secondary {
    background-color: @secondaryColor;
    .extra a:not(.ui) {
      color: white;
    }
  }
  .card.tertiary {
    background-color: @tertiaryColor;
    .extra a:not(.ui) {
      color: white;
    }
  }
}

@media only screen and (max-width: @tabletBreakpoint) {
  .ui.cards {
    &.two,
    &.three,
    &.four {
      .card {
        width: calc(100% - 2rem) !important;
      }
    }
  }
}

.loadAddonOverrides();
