@import 'globals.less';

@addon: 'volto-addons';
@addontype: 'imagecard';
@addonelement: 'cardsgrid';

.loadAddonVariables();

.cardsgrid {
  margin-bottom: @cardsGridMarginBottom;
  text-align: @cardsGridTextAlign;
}

.cardsgrid-cards {
  min-height: 400px;
}

.center .card-title {
  text-align: center;
}

.left .card-title {
  text-align: left;
}

.right .card-title {
  text-align: right;
}

.loadAddonOverrides();
