@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

/* Enables customization of addons */
.loadAddonOverrides() {
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.overrides';
}

/* Helper to load variables */
.loadAddonVariables() {
  @import (optional) '@{addonelement}.variables';
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.variables';
}

#sidebar .image-wrapper {
  margin-top: 1em;
  position: relative;
  display: inline-block;

  .ui.button.remove-image {
    position: absolute;
    top: 7px;
    right: 7px;
    margin: 0;
    box-shadow: none;

    &:hover {
      background-color: transparent !important;
    }

    svg {
      margin: 0;
      padding: 2px;
      opacity: 1;
      background: #f3f5f7;
      border: 1px solid #e4e8ec;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    }
  }

  img {
    border-radius: 6px;
  }
}
